{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "bintray" {:url "http://jcenter.bintray.com"}}
 :paths ["src" "resources" "config"]
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:tag "v0.5.1" :sha "599be6c"}}
          :ns-default build}
  :rebl        ;; for JDK 11+
  {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.242"}
                org.openjfx/javafx-fxml     {:mvn/version "17"}
                org.openjfx/javafx-controls {:mvn/version "17"}
                org.openjfx/javafx-swing    {:mvn/version "17"}
                org.openjfx/javafx-base     {:mvn/version "17"}
                org.openjfx/javafx-web      {:mvn/version "17"}}
   :main-opts ["-m" "cognitect.rebl"]}
  ;; :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}}
  ;; :nrebl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}
  ;;                      cider/cider-nrepl {:mvn/version "0.21.0"}
  ;;                      refactor-nrepl {:mvn/version "2.4.0"}
  ;;                      rickmoynihan/nrebl.middleware {:mvn/version "0.2.0"}}
  ;;         :main-opts ["-e" "((requiring-resolve,'cognitect.rebl/ui))" "-m" "nrepl.cmdline" "-i" "--middleware" "[nrebl.middleware/wrap-nrebl,cider.nrepl/cider-middleware]"]}
  }
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "1.3.610" :exclusions [org.clojure/tools.reader]}
  io.pedestal/pedestal.service {:mvn/version "0.5.8"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
  io.pedestal/pedestal.interceptor {:mvn/version "0.5.8"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3" :exclusions [org.slf4j/slf4j-api]}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.26"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.26"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.26"}
  com.github.danielwegener/logback-kafka-appender {:mvn/version "0.2.0-RC2"}
  org.apache.kafka/kafka-clients {:mvn/version "3.1.0"}
  cheshire/cheshire {:mvn/version "5.8.1"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}
  org.apache.jena/jena-text {:mvn/version "3.17.0" :exclusions [org.apache.jena/jena-cmds org.apache.jena/apache-jena-libs]}
  org.apache.jena/jena-tdb2 {:mvn/version "3.17.0"}
  org.apache.jena/jena-tdb {:mvn/version "3.17.0"}
  org.apache.jena/jena-arq {:mvn/version "3.17.0"}
  org.apache.jena/jena-core {:mvn/version "3.17.0"}
  org.apache.jena/jena-iri {:mvn/version "3.17.0"}
  org.apache.lucene/lucene-suggest {:mvn/version "7.7.3"} ;; jena 3.14.0 includes lucene 7.4.0
  commons-codec/commons-codec {:mvn/version "1.15"} ;; Req by Jena--not in deps
  ;; Dependency superceeded by antlr provided via lacinia dependency
  org.topbraid/shacl {:mvn/version "1.3.2" :exclusions [org.antlr/antlr4-runtime]}
  mount/mount {:mvn/version "0.1.16"}
  com.velisco/clj-ftp {:mvn/version "0.3.9"} ;; For downloading ftp docs
  clj-http/clj-http {:mvn/version "3.9.1"} ;; For downloading 
  com.walmartlabs/lacinia-pedestal {:mvn/version "0.15.0"}
  clj-commons/fs {:mvn/version "1.5.2"}
  ;; Dirwatch for updating base files in development
  juxt/dirwatch {:mvn/version "0.2.5"}
  ;; for generating jsonld context
  org.flatland/ordered {:mvn/version "1.5.7"}
  com.apicatalog/titanium-json-ld {:mvn/version "1.1.0"}
  org.glassfish/jakarta.json {:mvn/version "2.0.1"}
  ;; Alternative to REBL
  djblue/portal {:mvn/version "0.18.1"}
  ;; REBL reqs
  ;; org.openjfx/javafx-fxml {:mvn/version "17.0.1"}
  ;; org.openjfx/javafx-controls {:mvn/version "17.0.1"}
  ;; org.openjfx/javafx-swing {:mvn/version "17.0.1"}
  ;; org.openjfx/javafx-base {:mvn/version "17.0.1"}
  ;; org.openjfx/javafx-web {:mvn/version "17.0.1"}
  ;; org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
  ;; org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
  ;; org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
  ;; org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
  ;; org.openjfx/javafx-web      {:mvn/version "15-ea+6"}
  ;; com.cognitect/rebl {:local/root "jars/rebl-0.9.242.jar"}
  ;; /REBL Reqs
  expound/expound {:mvn/version "0.7.2"}
  medley/medley {:mvn/version "1.3.0"}
  buddy/buddy-sign {:mvn/version "3.2.0"}
  com.fasterxml.jackson.core/jackson-core {:mvn/version "2.11.0"}
  com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.11.0"}
  com.google.cloud/google-cloud-storage {:mvn/version "1.108.0"}
  ;; rocksjni for everything else -- is there an arch switch in deps?
  ;;  org.rocksdb/rocksdbjni {:mvn/version "6.25.3"}
  ;; rocksjni for apple silicon--will not work on Intel
  io.maryk.rocksdb/rocksdbjni {:mvn/version "6.17.0"}
  com.taoensso/nippy {:mvn/version "3.1.1"}
  digest/digest {:mvn/version "1.4.9"}
  com.google.firebase/firebase-admin {:mvn/version "7.0.1"}
  org.codehaus.janino/janino {:mvn/version "3.1.3"}}}
