{:mvn/repos
 {"bintray"
  {:url "http://jcenter.bintray.com"}
  "central"
  {:url "https://repo1.maven.org/maven2/"}
  "clojars"
  {:url "https://repo.clojars.org/"}
  "cognitect-dev-tools"
  {:url "https://dev-tools.cognitect.com/maven/releases/"}}

 :paths ["src" "resources" "config"]
 :jvm-opts ["--add-modules" "jdk.incubator.foreign"
            "--enable-native-access=ALL-UNNAMED"
            "-Dclojure.main.report=stderr"]

 :aliases

 {:build                                ; clj -T:build uber
  {:deps       {io.github.clojure/tools.build       {:tag "v0.8.4"
                                                     :sha "8c3cd69"}}
   :ns-default build}

  :with-foreign
  {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
              "--enable-native-access=ALL-UNNAMED"
              "-Dclojure.main.report=stderr"]}

  :eastwood                             ; clj -M:eastwood
  {:extra-deps {jonase/eastwood                     {:mvn/version "1.2.3"}}
   :extra-paths ["test"]
   :main-opts ["-m" "eastwood.lint" {:source-paths ["src" "test"]}]}

  :format                               ; clj -M:format
  {:extra-deps {cljfmt/cljfmt                       {:mvn/version "0.8.0"}}
   :extra-paths ["test"]
   :main-opts  ["-m" "cljfmt.main" "fix"]}

  :kondo                                ; clj -M:kondo --lint .
  {:extra-deps {clj-kondo/clj-kondo                 {:mvn/version "2022.04.25"}}
   :main-opts ["-m" "clj-kondo.main"]}

  :kibit                                ; clj -M:kibit
  {:extra-deps  {jonase/kibit                       {:mvn/version "0.1.8"}}
   :main-opts   ["-e" "(use,'kibit.driver),(external-run,[\"src\"],nil)"]}

  :rebl                                 ; for JDK 11+
  {:extra-deps {com.cognitect/rebl                  {:mvn/version "0.9.245"}
                org.openjfx/javafx-base             {:mvn/version "18"}
                org.openjfx/javafx-controls         {:mvn/version "18"}
                org.openjfx/javafx-fxml             {:mvn/version "18"}
                org.openjfx/javafx-swing            {:mvn/version "18"}
                org.openjfx/javafx-web              {:mvn/version "18"}}
   :main-opts  ["-e" "((requiring-resolve,'cognitect.rebl/ui))" "-m" "nrepl.cmdline"]}

  :repl
  {:extra-deps {reply/reply {:mvn/version "0.5.1"}}
   :extra-paths ["test"]
   :main-opts
   ;; REPL-y is a more fully-featured REPL than the built-in clojure REPL and the nREPL default client.
   ;; It provides tab completion and more interactive REPL-oriented ctrl+c SIGINT handling.
   ;; Leiningen builds on REPL-y for its REPL.
   ;; Genegraph starts multiple background threads, so sending ctrl+d to the REPL kills the main thread but the process
   ;; hangs because the other threads are still active. (System/exit 0) will terminate the process.
   [;; clj.main evaluates this, which compiles the src dependency tree.
    "-e" "(require 'genegraph.main)"
    "-m" "reply.main"
    ;; REPL-y main function evalutes this.
    "-e" "(in-ns 'genegraph.main)"]}

  :with-nrepl-deps
  {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}}}

  :genegraph-with-repl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}}
   :main-opts ["-m" "genegraph.main-repl"]}

  ;; Starts an nREPL server on port 6000. Pre-compiles the genegraph.server ns.
  ;; There's a problem with all output not being sent to client.
  :repl-server
  {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}}
   :main-opts
   ["-e" "(require 'genegraph.server)"
    "-m" "nrepl.cmdline"
    "--host" "127.0.0.1"
    "--port" "6000"]}

  :run                                  ; This doesn't work yet.
  {:extra-deps  {io.pedestal/pedestal.service-tools {:mvn/version "0.5.5"}}
   :main-opts   ["-m" "genegraph.server/run-dev"]}

  :test                                 ; clj -M:test all
  {:extra-deps  {lambdaisland/kaocha                {:mvn/version "1.66.1034"}}
   :extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]}}

 :deps
 {org.clojure/clojure                               {:mvn/version "1.11.1"}
  org.clojure/core.async                            {:mvn/version "1.5.648"}
  org.clojure/data.csv                              {:mvn/version "1.0.1"}
  org.clojure/test.check                            {:mvn/version "1.1.1"}
  camel-snake-kebab/camel-snake-kebab               {:mvn/version "0.4.2"}
  ch.qos.logback/logback-classic                    {:mvn/version "1.2.11"}
  ;; Why not just clojure.data.json? =tbl
  cheshire/cheshire                                 {:mvn/version "5.10.2"}
  ;; fs included for delete-dir and mkdirs. =tbl
  clj-commons/fs                                    {:mvn/version "1.6.310"}
  ;; For downloading
  clj-http/clj-http                                 {:mvn/version "3.12.3"}
  com.apicatalog/titanium-json-ld                   {:mvn/version "1.3.0"}
  com.fasterxml.jackson.core/jackson-core           {:mvn/version "2.13.2"}
  com.fasterxml.jackson.core/jackson-databind       {:mvn/version "2.13.2"}
  com.github.danielwegener/logback-kafka-appender   {:mvn/version "0.2.0-RC2"}
  com.google.cloud/google-cloud-storage             {:mvn/version "2.6.1"}
  ;; :exclusions works around LICENSE/license filename case conflict in build.
  com.google.firebase/firebase-admin                {:mvn/version "8.1.0"
                                                     :exclusions
                                                     [io.grpc/grpc-netty-shaded]}
  com.taoensso/nippy                                {:mvn/version "3.1.1"}
  ;; Included for downloading ftp docs with miner.ftp. =tbl
  com.velisco/clj-ftp                               {:mvn/version "0.3.17"}
  com.walmartlabs/lacinia-pedestal                  {:mvn/version "1.0"}
  digest/digest                                     {:mvn/version "1.4.10"}
  ;; alternative to REBL
  djblue/portal                                     {:mvn/version "0.23.0"}
  org.rocksdb/rocksdbjni                            {:mvn/version "7.1.2"}
  com.taoensso/carmine                              {:mvn/version "3.1.0"}
  io.pedestal/pedestal.interceptor                  {:mvn/version "0.5.10"}
  io.pedestal/pedestal.jetty                        {:mvn/version "0.5.10"}
  io.pedestal/pedestal.service                      {:mvn/version "0.5.10"}
  ;; dirwatch for updating base files in developme  nt
  juxt/dirwatch                                     {:mvn/version "0.2.5"}
  ;; medley included for filter-keys and deep-merge. =tbl
  medley/medley                                     {:mvn/version "1.4.0"}
  mount/mount                                       {:mvn/version "0.1.16"}
  org.clj-commons/claypoole                         {:mvn/version "1.2.2"}
  org.apache.jena/jena-arq                          {:mvn/version "4.5.0"}
  org.apache.jena/jena-core                         {:mvn/version "4.5.0"}
  org.apache.jena/jena-iri                          {:mvn/version "4.5.0"}
  org.apache.jena/jena-tdb                          {:mvn/version "4.5.0"}
  org.apache.jena/jena-tdb2                         {:mvn/version "4.5.0"}
  org.apache.jena/jena-text                         {:mvn/version "4.5.0"}
  org.apache.jena/jena-shacl                        {:mvn/version "4.5.0"}
  org.apache.kafka/kafka-clients                    {:mvn/version "3.1.0"}
  ;; Jena 3.17.0 includes codecs from Lucene 7.7.3. =tbl
  org.apache.lucene/lucene-suggest                  {:mvn/version "8.11.1"}
  org.codehaus.janino/janino                        {:mvn/version "3.1.6"}
  ;; ordered included for generating jsonld context with ordered-map. =tbl
  org.flatland/ordered                              {:mvn/version "1.15.10"}
  org.glassfish/jakarta.json                        {:mvn/version "2.0.1"}
  org.slf4j/jcl-over-slf4j                          {:mvn/version "1.7.36"}
  org.slf4j/jul-to-slf4j                            {:mvn/version "1.7.36"}
  org.slf4j/log4j-over-slf4j                        {:mvn/version "1.7.36"}
  luposlip/json-schema                              {:mvn/version "0.3.4"}
  clj-python/libpython-clj                          {:mvn/version "2.023"}}}
