#kaocha/v1
{:tests [{:id           :all
          :source-paths ["src"]
          :test-paths   ["test"]
          :ns-patterns  ["genegraph\\..*-test$"]}]

 :plugins [:print-invocations :profiling]}
