[{:name "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  :source "http://www.w3.org/1999/02/22-rdf-syntax-ns.ttl",
  :target "rdf.ttl",
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://www.w3.org/2000/01/rdf-schema#"
  :source "http://www.w3.org/2000/01/rdf-schema.ttl",
  :target "rdf-schema.ttl",
  :format :rdf
  :reader-opts {:format :turtle}} 
 {:name "http://www.w3.org/2011/content#"
  :source "http://www.w3.org/2011/content.rdf",
  :target "content.ttl",
  :format :rdf}
 ;; FOAF times out--is xmlns dead?
 ;; {:name "http://xmlns.com/foaf/0.1/"
 ;;  :source "http://xmlns.com/foaf/spec/index.rdf",
 ;;  :target "foaf.rdf",
 ;;  :format :rdf} 
 {:name "http://www.w3.org/ns/sparql-service-description#"
  :source "https://www.w3.org/ns/sparql-service-description.ttl"
  :target "sparql-service-description.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "https://www.w3.org/2002/07/owl"
  :source "https://www.w3.org/2002/07/owl.ttl",
  :target "owl.ttl",
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://purl.org/dc/terms/"
  :source "https://www.dublincore.org/specifications/dublin-core/dcmi-terms/dublin_core_terms.ttl"
  :target "dcterms.ttl",
  :format :rdf
  :reader-opts {:format :turtle}}
 ;; {:name "http://purl.org/dc/elements/1.1/"
 ;;  :source "http://dublincore.org/2012/06/14/dcelements.ttl"
 ;;  :target "dcelements.ttl"
 ;;  :format :rdf
 ;;  :reader-opts {:format :turtle}}
 {:name "http://www.w3.org/2004/02/skos/core"
  :source "https://www.w3.org/2009/08/skos-reference/skos.rdf",
  :target "skos.rdf",
  :format :rdf}
 ;; {:name "https://www.ebi.ac.uk/efo/efo"
 ;;  :source "https://www.ebi.ac.uk/efo/efo.owl"
 ;;  :target "efo.owl"
 ;;  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/so.owl"
  :source "https://raw.githubusercontent.com/The-Sequence-Ontology/SO-Ontologies/master/Ontology_Files/so.owl",
  :target "so.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/iao/ontology-metadata.owl"
  :source "http://purl.obolibrary.org/obo/iao/2015-02-23/ontology-metadata.owl",
  :target "iao.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/bfo.owl"
  :source "http://purl.obolibrary.org/obo/bfo/2.0/bfo.owl",
  :target "bfo.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/ro.owl"
  :source "http://purl.obolibrary.org/obo/ro.owl",
  :target "ro.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/geno.owl"
  :source "https://raw.githubusercontent.com/monarch-initiative/GENO-ontology/develop/geno.owl"
  :target "geno.owl"
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-dosage-valueset"
  :source "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-dosage/sepio-clingen-dosage-valueset.owl"
  :target "sepio-clingen-dosage-valueset.owl"
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-dosage.owl"
  :source "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-dosage/sepio-clingen-dosage.owl"
  :target "sepio-clingen-dosage.owl"
  :format :rdf}
 {:name "http://dataexchange.clinicalgenome.org/models/sepio-clingen-dosage-shapes.ttl"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-dosage/sepio-clingen-dosage-shapes.ttl"
  :target "sepio-clingen-dosage-shapes.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://dataexchange.clinicalgenome.org/models/sepio-clingen-actionability-shapes.ttl"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-actionability/sepio-clingen-actionability-shapes.ttl"
  :target "sepio-clingen-actionability-shapes.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
  {:name "http://purl.obolibrary.org/obo/sepio-clingen-actionability"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-actionability/sepio-clingen-actionability.ttl"
  :target "sepio-clingen-actionability.ttl"
  :format :rdf
   :reader-opts {:format :turtle}}
  {:name "http://dataexchange.clinicalgenome.org/models/sepio-clingen-actionability-valueset"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-actionability/sepio-clingen-actionability-valueset.ttl"
  :target "sepio-clingen-actionability-valueset.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://purl.obolibrary.org/obo/sepio-valueset.owl"
  :source "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/sepio-valueset.owl" 
  :target "sepio-valueset.owl"
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio.owl"
  :source
  "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/sepio.owl",
  :target "sepio.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-acmg.owl"
  :source "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-acmg/sepio-clingen-acmg.owl",
  :target "sepio-clingen-acmg.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-acmg-valueset.owl"
  :source "https://raw.githubusercontent.com/tnavatar/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-acmg/sepio-clingen-acmg-valueset.owl",
  :target "sepio-clingen-acmg-valueset.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-gene-validity"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-gene-validity/sepio-clingen-gene-validity.ttl"
  :target "sepio-clingen-gene-validity.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-gene-validity-valueset"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-gene-validity/sepio-clingen-gene-validity-valueset.ttl"
  :target "sepio-clingen-gene-validity-valueset.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://purl.obolibrary.org/obo/sepio-clingen-gene-validity-shapes"
  :source "https://raw.githubusercontent.com/clingen-data-model/SEPIO-ontology/master/src/ontology/extensions/clingen/clingen-gene-validity/sepio-clingen-gene-validity-shapes.ttl"
  :target "sepio-clingen-gene-validity-shapes.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://purl.obolibrary.org/obo/hp.owl"
  :source "http://purl.obolibrary.org/obo/hp.owl",
  :target "hp.owl",
  :format :rdf}
 {:name "http://purl.obolibrary.org/obo/mondo.owl"
  :source "http://purl.obolibrary.org/obo/mondo.owl",
  :target "mondo.owl",
  :format :rdf}
 {:name "https://www.genenames.org/"
  :source "http://rest.genenames.org/fetch/status/Approved",
  :target "hgnc.json",
  :format :genes,
  :fetch-opts {:accept :json}}
 ;; {:name "https://omim.org/genemap2"
 ;;  :source "https://data.omim.org/downloads/U7rx7IRhSIah-gm1M-yBDA/genemap2.txt"
 ;;  :target "genemap2.txt"
 ;;  :format :omim-genemap}
 {:name "http://dataexchange.clinicalgenome.org/terms"
  :source "https://raw.githubusercontent.com/clingen-data-model/clingen-terms/master/clingen-terms.ttl"
  :target "clingen-terms.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
  {:name "http://dataexchange.clinicalgenome.org/build-assembly-chr.ttl"
  :source "https://raw.githubusercontent.com/clingen-data-model/clingen-terms/master/build-assembly-chr.ttl"
  :target "build-assembly-chr.ttl"
  :format :rdf
  :reader-opts {:format :turtle}}
 {:name "http://ftp.ncbi.nih.gov/GRCh37.p13"
  :source "http://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.25_GRCh37.p13/GCF_000001405.25_GRCh37.p13_feature_table.txt.gz"
  :target "ncbi_grch37_features.txt.gz"
  :format :features}
 {:name "http://ftp.ncbi.nih.gov/GRCh38.p13"
  :source "http://ftp.ncbi.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/GCF_000001405.39_GRCh38.p13_feature_table.txt.gz"
  :target "ncbi_grch38_features.txt.gz"
  :format :features}
 {:name "https://decipher.sanger.ac.uk/HI_Predictions.bed.gz"
  :source "https://decipher.sanger.ac.uk/files/downloads/HI_Predictions_Version3.bed.gz"
  :target "Deciher_HI_Predictions_Version3.bed.gz"
  :format :hi-index}
 {:name "https://storage.googleapis.com/gnomad-public/lof_metrics.by_gene"
  :source "https://storage.googleapis.com/gcp-public-data--gnomad/release/2.1.1/constraint/gnomad.v2.1.1.lof_metrics.by_gene.txt.bgz"
  :target "gnomad_v2.1.1.lof_metrics_by_gene.txt.gz"
  :format :loss-intolerance}
 {:name "http://dataexchange.clinicalgenome.org/affiliations"
  :source "https://docs.google.com/spreadsheets/d/1IF9GiP8iiFx1CndgqdWNGx4A_uM2GsWnV7GSiUO33bs/gviz/tq?tqx=out:csv&sheet=VCI%2FGCI%20Affiliations%20List"
  :target "affiliations.csv"
  :format :affiliations}
  ;; {:name "http://data.bioontology.org/ontologies/RXNORM"
  ;; :source "http://data.bioontology.org/ontologies/RXNORM/submissions/18/download?apikey=8b5b7825-538d-40e0-9e9e-5ab9274a9aeb"
  ;; :target "RXNORM.ttl"
  ;; :format :rxnorm
 ;; :reader-opts {:format :turtle}}
 {:name "http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/cytoBand.txt.gz"
  :source "http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/cytoBand.txt.gz"
  :target "ucsc_cytoband_hg19.txt.gz"
  :format :ucsc-cytoband
  :genegraph.transform.ucsc-cytoband/assembly :hg19}
 {:name "http://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/cytoBand.txt.gz"
   :source "http://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/cytoBand.txt.gz"
   :target "ucsc_cytoband_hg38.txt.gz"
  :format :ucsc-cytoband
  :genegraph.transform.ucsc-cytoband/assembly :hg38}
 ]

