[:dc/date
 :dc/description
 :dc/title
 :ero/has-url
 :geno/end-position
 :geno/start-position
 :iao/curator-note
 :iao/definition
 :iao/editor-note
 :iao/editor-preferred-term
 :iao/elucidation
 :iao/example-of-usage
 :rdfs/comment
 :rdfs/label
 :sepio/activity-date
 :sepio/confidence-score
 :sepio/consider
 :sepio/date-updated
 :sepio/evidence-line-strength-score
 :sepio/has-ordinal-position
 :sepio/has-prefix
 :sepio/sepio-editor-note
 :sepio/sepio-preferred-label
 :sepio/usage-note
 :skos/alternative-label
 :skos/definition
 :skos/example
 :skos/hidden-label
 :skos/preferred-label
 :skos/scope-note]
