{:actionability {:genegraph.transform.core/format :actionability-v1
                 :genegraph.annotate/root-type :sepio/ActionabilityReport
                 :genegraph.annotate/graph-name :sepio/ActionabilityReport}
 :actionability-dev {:genegraph.transform.core/format :actionability-v1
                     :genegraph.annotate/root-type :sepio/ActionabilityReport
                     :genegraph.annotate/graph-name :sepio/ActionabilityReport}
 :gene-dosage-stage {:genegraph.transform.core/format :json-ld
                     :genegraph.annotate/root-type :sepio/GeneDosageReport
                     :genegraph.annotate/graph-name :sepio/GeneDosageReport}
 :gene-validity  {:genegraph.transform.core/format :gci-legacy
                  :genegraph.annotate/root-type :sepio/GeneValidityReport
                  :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-raw {:genegraph.transform.core/format :gci-legacy}
 :gene-validity-raw-dev {:genegraph.transform.core/format :gci-legacy}
 :gci-legacy  {:genegraph.transform.core/format :gci-legacy
               :genegraph.annotate/root-type :sepio/GeneValidityReport
               :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-neo4j-export {:genegraph.transform.core/format :gene-validity-neo4j-export
                              :genegraph.annotate/root-type :sepio/GeneValidityReport
                              :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :hgnc-genes {:genegraph.transform.core/format :hgnc-genes
              :genegraph.annotate/root-type :void/Dataset
              :genegraph.annotate/graph-name :void/Dataset}}
