{:actionability {:genegraph.transform.core/format :actionability-v1
                 :genegraph.annotate/root-type :sepio/ActionabilityReport
                 :genegraph.annotate/graph-name :sepio/ActionabilityReport}
 :actionability-dev {:genegraph.transform.core/format :actionability-v1
                     :genegraph.annotate/root-type :sepio/ActionabilityReport
                     :genegraph.annotate/graph-name :sepio/ActionabilityReport}
 :gene-dosage-stage {:genegraph.transform.core/format :json-ld
                     :genegraph.annotate/root-type :sepio/GeneDosageReport
                     :genegraph.annotate/graph-name :sepio/GeneDosageReport}
 :gene-dosage-jira {:genegraph.transform.core/format :gene-dosage-jira
                   :genegraph.annotate/root-type :sepio/GeneDosageReport
                   :genegraph.annotate/graph-name :sepio/GeneDosageRecord}
 :gene-validity  {:genegraph.transform.core/format :gci-legacy
                  :genegraph.annotate/root-type :sepio/GeneValidityReport
                  :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-dev  {:genegraph.transform.core/format :gci-legacy
                      :genegraph.annotate/root-type :sepio/GeneValidityReport
                      :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-raw {:genegraph.transform.core/format :gci-refactor
                     :genegraph.annotate/root-type :sepio/GeneValidityProposition
                     :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-raw-dev {:genegraph.transform.core/format :gci-refactor
                         :genegraph.annotate/root-type :sepio/GeneValidityProposition
                         :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gci-legacy  {:genegraph.transform.core/format :gci-legacy
               :genegraph.annotate/root-type :sepio/GeneValidityReport
               :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gci-express  {:genegraph.transform.core/format :gci-express
                :genegraph.annotate/root-type :sepio/GeneValidityReport
                :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :gene-validity-neo4j-export {:genegraph.transform.core/format :gene-validity-neo4j-export
                              :genegraph.annotate/root-type :sepio/GeneValidityReport
                              :genegraph.annotate/graph-name :sepio/GeneValidityProposition}
 :hgnc-genes {:genegraph.transform.core/format :hgnc-genes
              :genegraph.annotate/root-type :void/Dataset
              :genegraph.annotate/graph-name :void/Dataset}
 :owl {:genegraph.transform.core/format :rdf-xml
       :genegraph.annotate/root-type :owl/Ontology
       :genegraph.annotate/graph-name :owl/Ontology}
 :owl-turtle {:genegraph.transform.core/format :rdf-xml
              :genegraph.annotate/root-type :owl/Ontology
              :genegraph.annotate/graph-name :owl/Ontology}
 :mondo {:genegraph.transform.core/format :turtle
         :genegraph.annotate/root-type :owl/Ontology
         :genegraph.annotate/graph-name :owl/Ontology}
 :genegraph-roles {:genegraph.transform.core/format :turtle
                   :genegraph.annotate/root-type :void/Dataset
                   :genegraph.annotate/graph-name :void/Dataset}
 :clinvar-combined {:genegraph.transform.core/format :clinvar-combined
                    :genegraph.annotate/root-type :cg/ClinVarObject
                    :genegraph.annotate/graph-name :cg/ClinVarObject}}
