{:interfaces
 {:Resource {:description "An RDF Resource; type common to all addressable entities in Genegraph"
             :fields {:iri {:type 'String
                            :description "The IRI for this resource."}
                      ;; :curie {:type 'String
                      ;;         :description "The CURIE internal to Genegraph for this resource."}
                      ;; :label {:type 'String
                      ;;         :description "The label for this resouce."}
                      ;; :type {:type '(list :Resource)
                      ;;        :description "The types for this resource."}
                      ;; :subject_of {:type '(list :Assertion)
                      ;;              :description "Assertions (or propositions) that have this resource as a subject (or object)."}
                      }}}
 :objects
 {:Class {:description "An RDF class."
          :implements [:Resource]}}}
