{:clusters {:dx-ccloud {"ssl.endpoint.identification.algorithm" "https"
                        "sasl.mechanism" "PLAIN"
                        "request.timeout.ms" "20000"
                        "bootstrap.servers" "pkc-4yyd6.us-east1.gcp.confluent.cloud:9092"
                        "retry.backoff.ms" "500"
                        "security.protocol" "SASL_SSL"
                        "key.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                        "value.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                        "sasl.jaas.config" genegraph.env/dx-jaas-config}}
 :topics   {:actionability {:name "actionability"
                            :format :actionability-v1
                            :root-type :sepio/ActionabilityReport
                            :cluster :dx-ccloud}
            :actionability-dev {:name "actionability_dev"
                                :format :actionability-v1
                                :root-type :sepio/ActionabilityReport
                                :cluster :dx-ccloud}
            :gene-dosage-stage {:name "gene_dosage_sepio_in"
                                :format :json-ld
                                :reader-opts {:format :json-ld}
                                :root-type :sepio/GeneDosageReport
                                :cluster :dx-ccloud}
            :gene-dosage-jira {:name "gene_dosage_raw"
                                :format :gene-dosage-jira
                                :root-type :sepio/GeneDosageReport
                                :cluster :dx-ccloud}
            :gene-validity  {:format :gene-validity-v1
                             :name "gene_validity"
                             :root-type :sepio/GeneValidityReport
                             :cluster :dx-ccloud}
            :gene-validity-dev  {:format :gene-validity-v1
                                 :name "gene_validity_dev"
                                 :root-type :sepio/GeneValidityReport
                                 :cluster :dx-ccloud}
            :gene-validity-raw {:format :gene-validity-v1
                                :name "gene_validity_raw"
                                :cluster :dx-ccloud}
            :gene-validity-raw-dev {:format :gene-validity-v1
                                    :name "gene_validity_raw_dev"
                                    :cluster :dx-ccloud}
            :gci-legacy  {:format :gci-legacy
                          :name "gene_validity"
                          :root-type :sepio/GeneValidityReport
                          :cluster :dx-ccloud}
            :gci-legacy-report-only  {:format :gci-legacy-report-only
                                      :name "gene_validity"
                                      :root-type :sepio/GeneValidityReport
                                      :cluster :dx-ccloud}
            :gci-legacy-dev  {:format :gci-legacy
                              :name "gene_validity_dev"
                              :root-type :sepio/GeneValidityReport
                              :cluster :dx-ccloud}
            :gene-validity-events-dev {:name "gene_validity_events_dev"
                                       :cluster :dx-ccloud}
            :gene-tracker-test {:name "gt-precuration-events-test"
                                :cluster :dx-ccloud}
            :clinvar-combined {:name "clinvar-combined"
                               :cluster :dx-ccloud
                               :format :clinvar-combined}}}

