{:clusters
 {:dx-ccloud
  {:common
   {"bootstrap.servers"                     "pkc-4yyd6.us-east1.gcp.confluent.cloud:9092"
    "request.timeout.ms"                    "20000"
    "retry.backoff.ms"                      "500"
    "sasl.jaas.config"                      genegraph.env/dx-jaas-config
    "sasl.mechanism"                        "PLAIN"
    "security.protocol"                     "SASL_SSL"
    "ssl.endpoint.identification.algorithm" "https"}
   :consumer
   {"key.deserializer"   "org.apache.kafka.common.serialization.StringDeserializer"
    "value.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"}
   :producer
   {"key.serializer"   "org.apache.kafka.common.serialization.StringSerializer"
    "value.serializer" "org.apache.kafka.common.serialization.StringSerializer"}}}
 :topics
 {:actionability            {:cluster        :dx-ccloud
                             :format         :actionability-v1
                             :name           "actionability"}
  :actionability-dev        {:cluster        :dx-ccloud
                             :format         :actionability-v1
                             :name           "actionability_dev"}
  :clinvar-combined         {:cluster        :dx-ccloud
                             :format         :clinvar-combined
                             :name           "clinvar-combined"}
  :clinvar-raw              {:cluster        :dx-ccloud
                             :format         :clinvar-raw
                             :name           "clinvar-raw-testdata_20220523"
                             :producer-topic :test-public-v1}
  :clinvar-raw-complete     {:cluster        :dx-ccloud
                             :format         :clinvar-raw
                             :name           "clinvar-raw"
                             :producer-topic :test-public-v1}
  :gci-legacy               {:cluster        :dx-ccloud
                             :format         :gci-legacy
                             :name           "gene_validity"} ; =tbl
  :gci-legacy-dev           {:cluster        :dx-ccloud
                             :format         :gci-legacy
                             :name           "gene_validity_dev"} ; =tbl
  :gci-legacy-report-only   {:cluster        :dx-ccloud
                             :format         :gci-legacy-report-only
                             :name           "gene_validity"} ; =tbl
  :gene-dosage-jira         {:cluster        :dx-ccloud
                             :format         :gene-dosage-jira
                             :name           "gene_dosage_raw"}
  :gene-tracker-test        {:cluster        :dx-ccloud
                             :name           "gt-precuration-events-test"}
  :gene-validity-events-dev {:cluster        :dx-ccloud
                             :name           "gene_validity_events_dev"}
  :gene-validity-raw        {:cluster        :dx-ccloud
                             :format         :gene-validity-v1
                             :name           "gene_validity_raw"}
  :gene-validity-raw-dev    {:cluster        :dx-ccloud
                             :format         :gene-validity-v1
                             :name           "gene_validity_raw_dev"}
  :test-public-v1           {:cluster        :dx-ccloud
                             :name           "test-public-v1"}}}
