{:clusters {:dx-prod {"bootstrap.servers" "exchange.clinicalgenome.org:9093"
                     "enable.auto.commit" "false"
                     "key.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                     "value.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                     "security.protocol" "SSL"
                     "ssl.truststore.location" "keys/serveur.truststore.jks"
                     "ssl.truststore.password" genegraph.env/dx-key-pass
                     "ssl.keystore.location" "keys/dev.serveur.keystore.jks"
                     "ssl.keystore.password" genegraph.env/dx-key-pass
                     "ssl.key.password" genegraph.env/dx-key-pass}
           :dx-stage {"ssl.endpoint.identification.algorithm" "https"
                      "sasl.mechanism" "PLAIN"
                      "request.timeout.ms" "20000"
                      "bootstrap.servers" "pkc-4yyd6.us-east1.gcp.confluent.cloud:9092"
                      "retry.backoff.ms" "500"
                      "security.protocol" "SASL_SSL"
                      "key.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                      "value.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                      "sasl.jaas.config" genegraph.env/dx-stage-jaas}}
 :topics   {:actionability {:name "actionability"
                            :format :actionability-v1
                            :root-type :sepio/ActionabilityReport
                            :cluster :dx-prod}
            :actionability-dev {:name "actionability_dev"
                                :format :actionability-v1
                                :root-type :sepio/ActionabilityReport
                                :cluster :dx-prod}
            :gene-dosage-stage {:name "gene_dosage_sepio_in"
                                :format :rdf
                                :reader-opts {:format :json-ld}
                                :root-type :sepio/GeneDosageReport
                                ;; validation for dosage is turned off due to shacl shape not validating region shapes
                                ;; :validation-model "http://dataexchange.clinicalgenome.org/models/sepio-clingen-dosage-shapes.ttl"
                                :cluster :dx-stage}
            :gene-validity  {:format :gene-validity-v1
                             :name "gene_validity"
                             :root-type :sepio/GeneValidityReport
                             :cluster :dx-prod}
            :gene-validity-raw {:format :gene-validity-v1
                                :name "gene_validity_raw"
                                :cluster :dx-prod}
            :gene-validity-raw-dev {:format :gene-validity-v1
                                    :name "gene_validity_raw_dev"
                                    :cluster :dx-prod}
            :gci-legacy  {:format :gci-legacy
                             :name "gene_validity"
                             :root-type :sepio/GeneValidityReport
                             :cluster :dx-prod}
            :gene-validity-events-dev {:name "gene_validity_events_dev"
                                       :cluster :dx-prod}}}
